body {
    font-family: "Baksoap", system-ui;

}




.Layer_1 {
    position: absolute;
}

.cls-1 {
    fill: #d16993;
}

.cls-2 {
    fill: #a7446c;
}

.cls-3 {
    fill: #883d55;
}

.cls-4 {
    fill: #cbc7c6;
}

.cls-5 {
    fill: #587da7;
}

.cls-6 {
    fill: #7c4f49;
}

.cls-7 {
    fill: #ac5d74;
}

.cls-8 {
    font-family: SinhalaMN-Bold, 'Sinhala MN';
    font-size: 24px;
    font-weight: 700;
}

.cls-8,
.cls-9 {
    fill: #fcfff2;
}

.cls-10 {
    fill: #c36987;
}

.cls-11 {
    fill: #713244;
}

.cls-12 {
    fill: #405171;
}

.cls-13 {
    fill: #412420;
}

.cls-14 {
    fill: #4d6488;
}